html * {
    margin : 0;
    padding : 0;
    font-family : Arial;
}

body {
    text-align:center;
    background: #161A1F;
    background-image:url('ourvigor_style/logo.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:right 25px bottom 25px; 
}

p {
    margin-top : 1em;
    margin-bottom : 1em;
    font-size : 1em;
}

a {
    color : #555;
    font-size : 1em;
}

ul {
    margin-left : 2em;
}

#pageWrap {
    width:960px;
    margin:0px auto;
    text-align:left;
    background-color:#ccc;
}

/************************************************/

#header {

}

#innerHeader {
    background-image:url('ourvigor_style/header.png');
    height: 45px;
}

.headerText {
    color: #fff;
    font-family : Arial;
    font-weight : bold;
    text-decoration : none;
    font-size:30px;
    position : relative;
    top : 4px;
    left : 16px;
}

/************************************************/

.contentSpacer {
    height: 5px;
    background: #999;
}

/************************************************/

#leftCol {
    float: left;
    width: 150px;
}

#menuCol {
    
}

#menuCol ul {
    padding-left : 0px;
}

#menuCol li {
    list-style : none;
}

#menuCol ul ul {

}

/************************************************/

#contentMenuSep {
    width: 5px;
    background: #000;
}

#content {
    background : #eeeeee;
    width: 810px;
    float: right;
}

#innerContent {
    padding-top : 1em;
    padding-bottom : 1em;
    padding-left:3em;
    padding-right: 3em;
    border-left:1px black solid;
    min-height: 500px;
}

/************************************************/

.profilePictureViewProfile {
    max-width : 400px;
    max-height : 400px;
}

/************************************************/

.workoutTable th {
    padding : 5px 10px 5px 10px;
    border-bottom : 2px solid #000;
}

.workoutTable td {
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 5px;
    padding-bottom : 5px;
    border-bottom : solid 1px black;
    text-alight : left;
}

/************************************************/

.exerciseTable th {
    padding : 5px 10px 5px 10px;
    border-bottom : 2px solid #000;
}

.exerciseTable td {
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 5px;
    padding-bottom : 5px;
    border-bottom : 1px solid #000;
}

/************************************************/

#footer {
    background : #0b5e69;
    min-height: 30px;
    clear: both;
}

#innerFooter {
    padding-left: 10px;
}

#cornerLogo {
    position : absolute;
    right : 25px;
    bottom : 25px;
    height : 6em;
    z-index : -1000;
}
